body{
    background-color: #ECEFF1;
    /*margin: 0;*/
}

h1{
    text-align: center;
}

textarea{
    width: 100%;
    height: 100%;
}

fieldset{
    resize: vertical;
    width: 100%;
    height: 100%;
} 