body{
    background-color: #ECEFF1
}

h1{
    text-align: center;
}

textarea{
    -webkit-app-region: no-drag;
    word-wrap: normal;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    height: 100%;
    resize: none;
}

input{
    -webkit-app-region: no-drag;
    word-wrap: normal;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}
