body
{
    background-color: #ECEFF1
}

h1
{
    text-align: center;
}

/*#drop_zone{
    -webkit-app-region: no-drag;
}*/

textarea
{
    -webkit-app-region: no-drag;
    word-wrap: normal;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    height: 30%;
}
