<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Das ist mein Titel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="./animals.js"></script>
        <script src="./../../node_modules/vue/dist/vue.js"></script>
        

    </head>
    <body>

        <div id="app">

            <h1>{{title}}</h1>

            <h3>{{content}}</h3>

            <input type="text" v-model="currItem" @keypress.enter="addItem" required>
            <button @click="addItem">Add animal</button>

            <ul>
                <li v-for="(item, key) in items">
                    <button @click="removeItem(key)">X</button>
                    {{item}}
                </li>
            </ul>

            

        </div>

        

    </body>
</html>
