<html>
    <head>
        <title>instant-any</title>

        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./node_modules/toastr/build/toastr.min.css">

        <!-- muss vor Scripts stehen -->
        <script>
            if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }
        </script>

        <script src="./libs/vue.js"></script>
        <script src="./libs/jquery-3.1.1.min.js"></script>
        <script src="./libs/notify.min.js"></script>

        <script src="./libs/renderer.js"></script>

        <!-- muss nach Scripts stehen -->
        <script>
            if (window.module) module = window.module;
        </script>

    </head>

    <body>


        <div id="wrapper">

            <div id="top">
                <h1>Instant Any</h1>

                <fieldset>
                    <legend>Options</legend>
                    
                    Hallo {{ myName }} <br>
                    
                    <input @keyup.enter="addName" v-model="newName" type="text" :title="testArraySize">

                    <ul>
                        <li v-for="item in testArray">{{item}}</li>
                    </ul>
                    
                    <input v-model="droppedFile.range.bytesFrom" type="text"> -
                    <input v-model="droppedFile.range.bytesTil" type="text">
                    
                    <select v-model="selected" id="selected">
                        <option>first 10k</option>
                        <option>middle</option>
                        <option>end</option>
                    </select>

                    <button @click="reloadFile" id="reloadButton">Reload</button><p></p>

                    <label>File name  :</label>
                    <span>{{droppedFile.name}}</span><br>

                    <label>File path...:</label>
                    <span>{{droppedFile.path}}</span><br>

                    <label>File length:</label>
                    <span>{{droppedFile.length}}</span><br>
                </fieldset>        

            </div>

            <p></p>
            
            <fieldset id="lowerFieldSet">
                <legend>Drop files hereeee</legend>
                <textarea v-model="droppedFile.content" placeholder="Drop your desired file here..."></textarea>
            </fieldset>

    </body>
</html>